<div class="card mb-3">
    <div class="row g-0 my-3">
        <div class="col-md-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/cb/The_Blue_Marble_%28remastered%29.jpg" class="d-block mx-auto img-fluid rounded-circle" alt="..." style="width: auto; height: 300px">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">プロフィール</h2>
                <%= link_to "edit", profile_user_path(@posted_user) %>
                <p class="card-text"><%=safe_join(@posted_user.profile.split("\n"),tag(:br))%></p>
            </div>
        </div>
    </div>
</div>