<% provide(:title, 'Post Index') %>

<h1 class="text-center my-3">Welcome to My Blog</h1>

<div class="mx-5">

    <div class="my-3">
        <%= render 'posts/profile' %>
    </div>

    <div class="my-3">
        <%= render 'posts/skill' %>
    </div>
    
    <div class="my-3">
        <%= render 'posts/project' %>
    </div>
    
    <div class="my-3">
        <%= render 'posts/post' %>
    </div>
</div>

