<% provide(:title, 'Post Index') %>

<h1 class="text-center my-3">Welcome to My Blog</h1>

<div class="mx-5">

    <h2>プロフィール</h2>
    <p class="my-3"><%= @posted_user.profile %></p>
    
    <%= render 'posts/skill' %>
    <%= render 'posts/post' %>
</div>