<% provide(:title, 'Post Index') %>

<div class="mx-5">

    <div class="my-3">
        <%= render 'posts/profile' %>
    </div>

    <div class="my-3">
        <%= render 'posts/skill' %>
    </div>
    
    <div class="my-3">
        <%= render 'posts/project' %>
    </div>
    
    <div class="my-3 mx-3">
        <%= render 'posts/post' %>
    </div>
</div>

