<% provide(:title, 'Post Show') %>

<div class="card mx-5 my-3 shadow">
    <div class="mx-3 my-3">
        <h1 class="card-title"><%= @post.title %></h1>
        <div class="card-text">
            <%= @category.category %>
            <%= @post.content %>
        </div>
    <div>
</div>